 /*ESTILIZAÇÃO DO MODAL PACIENTE*/
 .modal-body{
   height:350px;
   overflow: auto;
 }

.modal-header{
	background-color: #00beaa;
	border-radius: 5px;
	color: white;
}

 .modal-dialog{
   font-family: 'Raleway', sans-serif !important;
   width: 400px;
 }

 .modal-body:hover{
   overflow-y:auto;
 }

  .fade{
   opacity:1;
   -webkit-transaction: opacity 2s linear;
   transaction:opacity 2s linear;
   }

 .close{
 	position: relative;
 	top: -30px;
 	right: 0;
 }

 .close:hover{
 	background: transparent !important;
 	color: #000;
 }

 /*ESTILIZAÇÃO DA TABELA MODAL PACIENTE*/
table{
	border-collapse: separate; 
	border-spacing: 10px;
	text-transform: uppercase;
}

.column1 {
  width: 50%;
}

.column2 {
  width: 60%;
}

.conteudo .titulo-table{
	color: #00beaa;
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 0;
}
.conteudo th{
	padding: 25px 0;
}

.conteudo tr td{
	padding: 2px 0;
}

#btn_add{
	  cursor: pointer;
	  padding: 1px 1px;
	  border-radius: 50%;
	  border: none;
	  font-size: 10px;
	  background-color: #004840;
	  color: #fff;
}

#btn_add:hover{
       background-color: orange;
}

.modal-body::-webkit-scrollbar { width:2px; background: #00beaa;}
.modal-body::-webkit-scrollbar-track { background: #4e4e4e; }
.modal-body::-webkit-scrollbar-thumb { border-radius:20px; background: #00beaa;}
.modal-body::-webkit-scrollbar-corner { visibility: hidden;} 
.modal-body::-webkit-resizer { visibility: hidden; }