 /*ESTILIZAÇÃO DO MODAL PACIENTE*/
 .modal-body{
   height:350px;
   overflow: auto;
 }

.modal-header{
	background-color: #00beaa;
	border-radius: 5px;
	color: white;
}

 .modal-dialog{
   font-family: 'Raleway', sans-serif !important;
   width: 400px;
 }

 .modal-body:hover{
   overflow-y:auto;
 }

  .fade{
   opacity:1;
   -webkit-transaction: opacity 2s linear;
   transaction:opacity 2s linear;
   }


 /*ESTILIZAÇÃO DA TABELA MODAL PACIENTE*/
table{
	border-collapse: separate; 
	border-spacing: 10px;
}

.column1 {
  width: 50%;
}

.column2 {
  width: 60%;
}

.conteudo .titulo-table{
	color: #00beaa;
	text-transform: uppercase;
	white-space: nowrap;
	line-height: 0;
}
.conteudo th{
	padding: 25px 0;
}

.conteudo tr td{
	padding: 2px 0;
	border-bottom: 1px solid black;
}

#btn_add{
	  cursor: pointer;
	  padding: 1px 1px;
	  border-radius: 7px;
	  border: none;
	  font-size: 10px;
	  background-color: #004840;
	  color: #fff;
}

#btn_add:hover{
       background-color: orange;
}